/* FADE DROP - login/registration form */
.fade-drop-enter-from {
  opacity: 0;
  transform: translateY(-50px) scale(1.1);
}
.fade-drop-enter-active {
  transition: all 0.3s ease-out;
}
.fade-drop-enter-to {
  opacity: 1;
  transform: translateY(0) rotate(0deg) scale(1);
}

.fade-drop-leave-from {
  opacity: 1;
  transform: translateY(0) scale(1);
}
.fade-drop-leave-active {
  transition: all 0.3s ease-out;
}
.fade-drop-leave-to {
  opacity: 0;
  transform: translateY(200px) scale(0.7);
}

/* FADE IN SIMPLE */

.fade-in-enter-from,
.fade-in-z-enter-from {
  opacity: 0;
}
.fade-in-enter-to,
.fade-in-z-enter-to {
  opacity: 1;
}
.fade-in-enter-active,
.fade-in-z-enter-active {
  transition: all 0.3s ease-out;
}

.fade-in-leave-from,
.fade-in-z-leave-from {
  opacity: 1;
}
.fade-in-leave-to,
.fade-in-z-leave-to {
  opacity: 0;
}
.fade-in-leave-active,
.fade-in-z-leave-active {
  transition: all 0.3s ease-out;
  position: absolute;
  width: 100%;
}
.fade-in-move,
.fade-in-z-move {
  transition: transform 0.5s ease;
}

.fade-in-z-enter-active, .fade-in-z-leave-active { z-index: 110; }

/* ROTATE IN-OUT */
.rotate-enter-from {
  opacity: 0;
  transform: rotate(-10deg) translateX(-150px);
}
.rotate-enter-to {
  opacity: 1;
  transform: rotate(0deg) translateX(0px);
}
.rotate-enter-active {
  transition: all 0.25s ease-out;
}

.rotate-leave-from {
  transform: rotate(0deg) translateX(0px);
  opacity: 1;
}
.rotate-leave-to {
  opacity: 0;
  transform: rotate(10deg) translateX(150px); 
}
.rotate-leave-active {
  transition: all 0.25s ease-out;
}

.rotate-move {
  transition: transform 0.5s ease;
}


/* SLIDE IN/OUT FROM LEFT */
.slide-in-left-enter-from {
  opacity: 0;
  transform: translateX(-200px);
}
.slide-in-left-enter-to {
  opacity: 1;
  transform: translateX(0px);
}
.slide-in-left-enter-active {
  transition: all 0.25s ease-out;
}

.slide-in-left-leave-from {
  transform: translateX(0px);
  opacity: 1;
}
.slide-in-left-leave-to {
  opacity: 0;
  transform: translateX(-200px); 
}
.slide-in-left-leave-active {
  transition: all 0.25s ease-out;
}